name: CI

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  verify:
    uses: JorisJonkers-dev/github-workflows/.github/workflows/jvm-ci.yml@v0.7.3
    with:
      java-version: '21'
      working-directory: '.'
      lint-gradle-args: check
      test-gradle-args: build publishToMavenLocal jacocoTestCoverageVerification
    secrets: inherit

  pipeline-complete:
    name: Pipeline Complete
    if: always()
    needs: [verify]
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
