name: CI

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  verify:
    uses: JorisJonkers-dev/github-workflows/.github/workflows/nix-ci.yml@v0.7.3
    with:
      flake-path: '.'
      check-command: nix flake check --print-build-logs

  pipeline-complete:
    name: Pipeline Complete
    if: always()
    needs: [verify]
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
